<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Train Reservation System</display-name>

    <!-- LoginServlet Configuration -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.trainreservation.controller.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- RegisterServlet Configuration -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.trainreservation.controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

     <!-- ReservationServlet Configuration -->
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>com.trainreservation.controller.ReservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reserve</url-pattern>
    </servlet-mapping>

     <!-- LogoutServlet Configuration -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.trainreservation.controller.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- Welcome File Configuration -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
